
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background-color: #001d4d;
    color: #fff;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    
}
nav li {
    margin: 0 10px;
    cursor: pointer;
    align-items: left;
}
.login-btn {
    background: #3f8efc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


footer {
    background-color: #001d4d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
