
.container {
    display: flex;
    flex-direction: column;
  }
  
  .socialSection {
    background-color: rgba(44, 44, 44, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 21px 80px 10px;
  }
  
  .contentWrapper {
    display: flex;
    width: 889px;
    max-width: 100%;
    flex-direction: column;
  }
  
  .heading {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    align-self: center;
    font: 700 24px/1 Inter, sans-serif;
  }
  
  .linksContainer {
    margin-top: 122px;
    width: 100%;
  }
  
  .socialGrid {
    gap: 20px;
    display: flex;
  }
  
  .logoColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
  }
  
  .socialLogo {
    aspect-ratio: 3.09;
    object-fit: contain;
    object-position: center;
    width: 247px;
    margin-top: 52px;
  }
  
  .mainColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 70%;
    margin-left: 20px;
  }
  
  .contentArea {
    flex-grow: 1;
  }
  
  .innerGrid {
    gap: 20px;
    display: flex;
  }
  
  .productColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
  }
  
  .productContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    font: 700 24px/1 Inter, sans-serif;
  }
  
  .productLogo {
    aspect-ratio: 2.88;
    object-fit: contain;
    object-position: center;
    width: 248px;
    margin-top: 32px;
    max-width: 100%;
  }
  
  .socialColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  
  .socialIcon {
    aspect-ratio: 3.18;
    object-fit: contain;
    object-position: center;
    width: 274px;
    margin-top: 52px;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .socialSection {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .linksContainer {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .socialGrid {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .logoColumn {
      width: 100%;
    }
  
    .socialLogo {
      margin-top: 40px;
    }
  
    .mainColumn {
      width: 100%;
    }
  
    .contentArea {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .innerGrid {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .productColumn {
      width: 100%;
    }
  
    .productContent {
      margin-top: 29px;
    }
  
    .socialColumn {
      width: 100%;
    }
  
    .socialIcon {
      margin-top: 40px;
    }
  }